In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df_b = pd.read_csv('blue_info.csv')

In [3]:
df_r = pd.read_csv('red_info.csv')

In [4]:
df_f = pd.read_csv('fighters.csv')

In [5]:
# BLUE FIGHTERS DATAFRAME
df_b.sample()

,Unnamed: 0,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,B_win_by_Decision_Unanimous,B_win_by_KO/TKO,B_win_by_Submission,B_win_by_TKO_Doctor_Stoppage,B_wins,B_Stance,B_Height_cms,B_Reach_cms,B_Weight_lbs,B_age
142,142,Sergio Moraes,Rob Hinds,2019-03-09,"Wichita, Kansas, USA",Red,False,Welterweight,3,0.0,...,2.0,1.0,3.0,0.0,8.0,Orthodox,182.88,182.88,170.0,36.0

In [6]:
# RED FIGHTERS DATAFRAME
df_r.sample()

,Unnamed: 0,R_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,R_current_lose_streak,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,R_age
3752,3752,John Howard,Herb Dean,2010-08-01,"San Diego, California, USA",Blue,False,Welterweight,3,0.0,...,0.0,2.0,0.0,0.0,4.0,Orthodox,170.18,180.34,170.0,27.0

In [7]:
# REPLACE CATEGORICAL VALUES WITH NUMERICAL VALUES FOR CORR. CAL. PURPOSE 
blue_wins = {"Red": -1, "Blue": 1, "Draw" : 0}
df_b['Winner'] = df_b['Winner'].replace(blue_wins)

In [8]:
# TEST
df_b['Winner'].sample()

397    1
Name: Winner, dtype: int64

In [9]:
red_wins = {"Red": 1, "Blue": -1, "Draw" : 0}
df_r['Winner'] = df_r['Winner'].replace(red_wins)

In [10]:
# TEST
df_r['Winner'].sample()

3762    1
Name: Winner, dtype: int64

In [ ]:
# INSIGHTS // WEIGHT CLASS (BLUE)
sns.countplot(data = df_b ,x = 'weight_class', hue = 'Winner')

In [ ]:
# INSIGHTS // WEIGHT CLASS (RED)
sns.countplot(data = df_r ,x = 'weight_class', hue = 'Winner')

In [ ]:
set(df_r['R_fighter'])
df_t['R_fighter']

In [11]:
df_bdropped = df_b

In [12]:
b_unique_names = df_bdropped.drop_duplicates(subset = 'B_fighter' , keep = "first")
b_unique_names['B_fighter'].value_counts()

Joe Jordan          1
Michel Pereira      1
Travis Fulton       1
Gabriel Benitez     1
Chris Condo         1
                   ..
Brandon Melendez    1
Koji Kitao          1
Gerald Strebendt    1
Dan Severn          1
Rashid Magomedov    1
Name: B_fighter, Length: 1774, dtype: int64

In [13]:
df_rdropped = df_r

In [18]:
b_unique_names.head(3)

,Unnamed: 0,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,B_win_by_Decision_Unanimous,B_win_by_KO/TKO,B_win_by_Submission,B_win_by_TKO_Doctor_Stoppage,B_wins,B_Stance,B_Height_cms,B_Reach_cms,B_Weight_lbs,B_age
0,0,Marlon Moraes,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",-1,True,Bantamweight,5,0.0,...,0.0,2.0,1.0,0.0,4.0,Orthodox,167.64,170.18,135.0,31.0
1,1,Jessica Eye,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",-1,True,Women's Flyweight,5,0.0,...,1.0,0.0,0.0,1.0,4.0,Orthodox,167.64,167.64,125.0,32.0
2,2,Donald Cerrone,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",-1,False,Lightweight,3,0.0,...,7.0,10.0,6.0,0.0,23.0,Orthodox,185.42,185.42,155.0,36.0

In [15]:
r_unique_names = df_rdropped.drop_duplicates(subset = 'R_fighter' , keep = "first")
r_unique_names['R_fighter'].value_counts()

Luke Jumeau           1
Weili Zhang           1
Brian Johnston        1
Mike Lullo            1
Jeremy Stephens       1
                     ..
Mizuto Hirota         1
Gabriel Benitez       1
Jarred Brooks         1
Ovince Saint Preux    1
Justin Scoggins       1
Name: R_fighter, Length: 1334, dtype: int64

In [17]:
r_unique_names.head(3)

,Unnamed: 0,R_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,R_current_lose_streak,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,R_age
0,0,Henry Cejudo,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",1,True,Bantamweight,5,0.0,...,4.0,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,32.0
1,1,Valentina Shevchenko,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",1,True,Women's Flyweight,5,0.0,...,2.0,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,31.0
2,2,Tony Ferguson,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",1,False,Lightweight,3,0.0,...,3.0,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,35.0

In [ ]:
fighter_merged = pd.merge(r_unique_names, df_f, left_on = "R_fighter", right_on = "fighter_name", how = "right")

In [ ]:
fighter_merged.head()

In [ ]:
fighter_merged = pd.merge(fighter_merged, b_unique_names, left_on = "R_fighter", right_on = "B_fighter", how = "left")

In [ ]:
fighter_merged.head()