In [ ]:
red_info = df.drop(['B_fighter','B_current_lose_streak','B_current_win_streak','B_draw','B_avg_BODY_att','B_avg_BODY_landed','B_avg_CLINCH_att','B_avg_CLINCH_landed','B_avg_DISTANCE_att','B_avg_DISTANCE_landed','B_avg_GROUND_att','B_avg_GROUND_landed','B_avg_HEAD_att','B_avg_HEAD_landed','B_avg_KD','B_avg_LEG_att','B_avg_LEG_landed','B_avg_PASS','B_avg_REV','B_avg_SIG_STR_att','B_avg_SIG_STR_landed','B_avg_SIG_STR_pct','B_avg_SUB_ATT','B_avg_TD_att','B_avg_TD_landed','B_avg_TD_pct','B_avg_TOTAL_STR_att','B_avg_TOTAL_STR_landed','B_longest_win_streak','B_losses','B_avg_opp_BODY_att','B_avg_opp_BODY_landed','B_avg_opp_CLINCH_att','B_avg_opp_CLINCH_landed','B_avg_opp_DISTANCE_att','B_avg_opp_DISTANCE_landed','B_avg_opp_GROUND_att','B_avg_opp_GROUND_landed','B_avg_opp_HEAD_att','B_avg_opp_HEAD_landed','B_avg_opp_KD','B_avg_opp_LEG_att','B_avg_opp_LEG_landed','B_avg_opp_PASS','B_avg_opp_REV','B_avg_opp_SIG_STR_att','B_avg_opp_SIG_STR_landed','B_avg_opp_SIG_STR_pct','B_avg_opp_SUB_ATT','B_avg_opp_TD_att','B_avg_opp_TD_landed','B_avg_opp_TD_pct','B_avg_opp_TOTAL_STR_att','B_avg_opp_TOTAL_STR_landed','B_total_rounds_fought','B_total_time_fought(seconds)','B_total_title_bouts','B_win_by_Decision_Majority','B_win_by_Decision_Split','B_win_by_Decision_Unanimous','B_win_by_KO/TKO','B_win_by_Submission','B_win_by_TKO_Doctor_Stoppage','B_wins','B_Stance','B_Height_cms','B_Reach_cms','B_Weight_lbs','B_age'], axis = 1)

In [ ]:
red_info.to_csv('red_info.csv')

In [ ]:
blue_info = df.drop(['R_fighter','R_current_lose_streak','R_current_win_streak','R_draw','R_avg_BODY_att','R_avg_BODY_landed','R_avg_CLINCH_att','R_avg_CLINCH_landed','R_avg_DISTANCE_att','R_avg_DISTANCE_landed','R_avg_GROUND_att','R_avg_GROUND_landed','R_avg_HEAD_att','R_avg_HEAD_landed','R_avg_KD','R_avg_LEG_att','R_avg_LEG_landed','R_avg_PASS','R_avg_REV','R_avg_SIG_STR_att','R_avg_SIG_STR_landed','R_avg_SIG_STR_pct','R_avg_SUB_ATT','R_avg_TD_att','R_avg_TD_landed','R_avg_TD_pct','R_avg_TOTAL_STR_att','R_avg_TOTAL_STR_landed','R_longest_win_streak','R_losses','R_avg_opp_BODY_att','R_avg_opp_BODY_landed','R_avg_opp_CLINCH_att','R_avg_opp_CLINCH_landed','R_avg_opp_DISTANCE_att','R_avg_opp_DISTANCE_landed','R_avg_opp_GROUND_att','R_avg_opp_GROUND_landed','R_avg_opp_HEAD_att','R_avg_opp_HEAD_landed','R_avg_opp_KD','R_avg_opp_LEG_att','R_avg_opp_LEG_landed','R_avg_opp_PASS','R_avg_opp_REV','R_avg_opp_SIG_STR_att','R_avg_opp_SIG_STR_landed','R_avg_opp_SIG_STR_pct','R_avg_opp_SUB_ATT','R_avg_opp_TD_att','R_avg_opp_TD_landed','R_avg_opp_TD_pct','R_avg_opp_TOTAL_STR_att','R_avg_opp_TOTAL_STR_landed','R_total_rounds_fought','R_total_time_fought(seconds)','R_total_title_bouts','R_win_by_Decision_Majority','R_win_by_Decision_Split','R_win_by_Decision_Unanimous','R_win_by_KO/TKO','R_win_by_Submission','R_win_by_TKO_Doctor_Stoppage','R_wins','R_Stance','R_Height_cms','R_Reach_cms','R_Weight_lbs','R_age'], axis = 1)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.read_csv('matches.csv')

In [3]:
df.sample(5)

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
2772,Brad Tavares,Bubba McDaniel,Dan Miragliotta,2013-08-28,"Indianapolis, Indiana, USA",Red,False,Middleweight,3,0.0,...,1.0,0.0,0.0,5.0,Orthodox,185.42,187.96,185.0,30.0,25.0
4019,Mike Swick,Ben Saunders,Leon Roberts,2009-06-13,"Cologne, North Rhine-Westphalia, Germany",Red,False,Welterweight,3,0.0,...,3.0,2.0,0.0,8.0,Orthodox,185.42,195.58,170.0,26.0,29.0
463,Francis Ngannou,Derrick Lewis,Herb Dean,2018-07-07,"Las Vegas, Nevada, USA",Blue,False,Heavyweight,3,0.0,...,4.0,1.0,1.0,6.0,Orthodox,193.04,210.82,250.0,33.0,31.0
894,Tyron Woodley,Demian Maia,Herb Dean,2017-07-29,"Anaheim, California, USA",Red,True,Welterweight,5,0.0,...,5.0,0.0,0.0,7.0,Orthodox,175.26,187.96,170.0,39.0,35.0
2483,Jordan Mein,Hernani Perpetuo,Herb Dean,2014-04-19,"Orlando, Florida, USA",Red,False,Welterweight,3,0.0,...,1.0,0.0,0.0,1.0,Orthodox,182.88,185.42,170.0,28.0,24.0

In [4]:
df['B_age'].mean()

29.171962992759454

In [ ]:
df['R_age'].mean()

In [ ]:
df[df["R_fighter"].str.lower().str.contains("henry")]

In [ ]:
df[(df["R_fighter"].str.lower().str.contains("karolina")) & (df["weight_class"].str.lower().str.contains('women'))]

In [ ]:
df[(df["B_fighter"].str.lower().str.contains("karolina")) & (df["weight_class"].str.lower().str.contains('women'))]

In [ ]:
df[df['B_fighter'].str.lower().str.contains('karolina')]

In [5]:
df['B_Stance'].value_counts()

Orthodox       3829
Southpaw        975
Switch          168
Open Stance       9
Sideways          4
Name: B_Stance, dtype: int64

In [6]:
df['B_Stance'].mode()[0]

'Orthodox'

In [7]:
df['B_Stance'] = df['B_Stance'].fillna(df['B_Stance'].mode()[0])

In [8]:
df['B_Stance'].value_counts()

Orthodox       3988
Southpaw        975
Switch          168
Open Stance       9
Sideways          4
Name: B_Stance, dtype: int64

In [ ]:
df.columns[df.isnull().any()].tolist()

In [ ]:
# df.info(verbose=True, memory_usage='deep')

In [9]:
null_data = df[df.columns[df.isnull().any()]]
null_data

,Referee,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,B_avg_DISTANCE_landed,B_avg_GROUND_att,B_avg_GROUND_landed,B_avg_HEAD_att,...,R_avg_opp_TD_pct,R_avg_opp_TOTAL_STR_att,R_avg_opp_TOTAL_STR_landed,R_total_time_fought(seconds),R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Marc Goddard,9.200000,6.000000,0.200000,0.000000,62.600000,20.600000,2.600000,2.000000,48.600000,...,0.050000,110.500000,43.300000,742.60,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Robert Madrigal,14.600000,9.100000,11.800000,7.300000,124.700000,42.100000,2.400000,1.900000,112.000000,...,0.147143,158.142857,82.285714,1062.00,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Dan Miragliotta,15.354839,11.322581,6.741935,4.387097,84.741935,38.580645,5.516129,3.806452,67.645161,...,0.131333,102.133333,38.600000,604.40,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Kevin MacDonald,17.000000,14.000000,13.750000,11.000000,109.500000,48.750000,13.000000,10.500000,116.250000,...,0.000000,115.125000,48.875000,690.25,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Dan Miragliotta,17.000000,14.500000,2.500000,2.000000,201.000000,59.500000,0.000000,0.000000,184.500000,...,0.000000,60.500000,27.750000,440.75,Southpaw,187.96,190.50,264.0,32.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,Joao Alberto Barreto,4.000000,3.000000,9.000000,4.000000,10.000000,4.000000,8.000000,7.000000,23.000000,...,0.000000,1.000000,0.000000,26.00,Orthodox,195.58,NaN,216.0,NaN,34.0
5140,Joao Alberto Barreto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Orthodox,185.42,182.88,205.0,30.0,29.0
5141,Joao Alberto Barreto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Southpaw,185.42,NaN,175.0,30.0,26.0
5142,Joao Alberto Barreto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Orthodox,193.04,NaN,275.0,NaN,NaN
5143,Joao Alberto Barreto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Orthodox,195.58,NaN,216.0,24.0,34.0

In [10]:
null_data.isnull().sum()

Referee                  23
B_avg_BODY_att         1265
B_avg_BODY_landed      1265
B_avg_CLINCH_att       1265
B_avg_CLINCH_landed    1265
                       ...
R_Height_cms              4
R_Reach_cms             316
R_Weight_lbs              3
B_age                   172
R_age                    64
Length: 108, dtype: int64

In [11]:
df.columns.tolist()

['R_fighter',
 'B_fighter',
 'Referee',
 'date',
 'location',
 'Winner',
 'title_bout',
 'weight_class',
 'no_of_rounds',
 'B_current_lose_streak',
 'B_current_win_streak',
 'B_draw',
 'B_avg_BODY_att',
 'B_avg_BODY_landed',
 'B_avg_CLINCH_att',
 'B_avg_CLINCH_landed',
 'B_avg_DISTANCE_att',
 'B_avg_DISTANCE_landed',
 'B_avg_GROUND_att',
 'B_avg_GROUND_landed',
 'B_avg_HEAD_att',
 'B_avg_HEAD_landed',
 'B_avg_KD',
 'B_avg_LEG_att',
 'B_avg_LEG_landed',
 'B_avg_PASS',
 'B_avg_REV',
 'B_avg_SIG_STR_att',
 'B_avg_SIG_STR_landed',
 'B_avg_SIG_STR_pct',
 'B_avg_SUB_ATT',
 'B_avg_TD_att',
 'B_avg_TD_landed',
 'B_avg_TD_pct',
 'B_avg_TOTAL_STR_att',
 'B_avg_TOTAL_STR_landed',
 'B_longest_win_streak',
 'B_losses',
 'B_avg_opp_BODY_att',
 'B_avg_opp_BODY_landed',
 'B_avg_opp_CLINCH_att',
 'B_avg_opp_CLINCH_landed',
 'B_avg_opp_DISTANCE_att',
 'B_avg_opp_DISTANCE_landed',
 'B_avg_opp_GROUND_att',
 'B_avg_opp_GROUND_landed',
 'B_avg_opp_HEAD_att',
 'B_avg_opp_HEAD_landed',
 'B_avg_opp_KD',
 'B_avg_opp_LEG_att',
 'B_avg_opp_LEG_landed',
 'B_avg_opp_PASS',
 'B_avg_opp_REV',
 'B_avg_opp_SIG_STR_att',
 'B_avg_opp_SIG_STR_landed',
 'B_avg_opp_SIG_STR_pct',
 'B_avg_opp_SUB_ATT',
 'B_avg_opp_TD_att',
 'B_avg_opp_TD_landed',
 'B_avg_opp_TD_pct',
 'B_avg_opp_TOTAL_STR_att',
 'B_avg_opp_TOTAL_STR_landed',
 'B_total_rounds_fought',
 'B_total_time_fought(seconds)',
 'B_total_title_bouts',
 'B_win_by_Decision_Majority',
 'B_win_by_Decision_Split',
 'B_win_by_Decision_Unanimous',
 'B_win_by_KO/TKO',
 'B_win_by_Submission',
 'B_win_by_TKO_Doctor_Stoppage',
 'B_wins',
 'B_Stance',
 'B_Height_cms',
 'B_Reach_cms',
 'B_Weight_lbs',
 'R_current_lose_streak',
 'R_current_win_streak',
 'R_draw',
 'R_avg_BODY_att',
 'R_avg_BODY_landed',
 'R_avg_CLINCH_att',
 'R_avg_CLINCH_landed',
 'R_avg_DISTANCE_att',
 'R_avg_DISTANCE_landed',
 'R_avg_GROUND_att',
 'R_avg_GROUND_landed',
 'R_avg_HEAD_att',
 'R_avg_HEAD_landed',
 'R_avg_KD',
 'R_avg_LEG_att',
 'R_avg_LEG_landed',
 'R_avg_PASS',
 'R_avg_REV',
 'R_avg_SIG_STR_att',
 'R_avg_SIG_STR_landed',
 'R_avg_SIG_STR_pct',
 'R_avg_SUB_ATT',
 'R_avg_TD_att',
 'R_avg_TD_landed',
 'R_avg_TD_pct',
 'R_avg_TOTAL_STR_att',
 'R_avg_TOTAL_STR_landed',
 'R_longest_win_streak',
 'R_losses',
 'R_avg_opp_BODY_att',
 'R_avg_opp_BODY_landed',
 'R_avg_opp_CLINCH_att',
 'R_avg_opp_CLINCH_landed',
 'R_avg_opp_DISTANCE_att',
 'R_avg_opp_DISTANCE_landed',
 'R_avg_opp_GROUND_att',
 'R_avg_opp_GROUND_landed',
 'R_avg_opp_HEAD_att',
 'R_avg_opp_HEAD_landed',
 'R_avg_opp_KD',
 'R_avg_opp_LEG_att',
 'R_avg_opp_LEG_landed',
 'R_avg_opp_PASS',
 'R_avg_opp_REV',
 'R_avg_opp_SIG_STR_att',
 'R_avg_opp_SIG_STR_landed',
 'R_avg_opp_SIG_STR_pct',
 'R_avg_opp_SUB_ATT',
 'R_avg_opp_TD_att',
 'R_avg_opp_TD_landed',
 'R_avg_opp_TD_pct',
 'R_avg_opp_TOTAL_STR_att',
 'R_avg_opp_TOTAL_STR_landed',
 'R_total_rounds_fought',
 'R_total_time_fought(seconds)',
 'R_total_title_bouts',
 'R_win_by_Decision_Majority',
 'R_win_by_Decision_Split',
 'R_win_by_Decision_Unanimous',
 'R_win_by_KO/TKO',
 'R_win_by_Submission',
 'R_win_by_TKO_Doctor_Stoppage',
 'R_wins',
 'R_Stance',
 'R_Height_cms',
 'R_Reach_cms',
 'R_Weight_lbs',
 'B_age',
 'R_age']

In [12]:
df['location'].value_counts()

Las Vegas, Nevada, USA             1216
London, England, United Kingdom     114
Chicago, Illinois, USA               81
Montreal, Quebec, Canada             81
Atlantic City, New Jersey, USA       80
                                   ...
Mobile, Alabama, USA                  8
Miami, Florida, USA                   8
Dothan, Alabama, USA                  7
Yokohama, Kanagawa, Japan             7
Chiba, Japan                          7
Name: location, Length: 157, dtype: int64

In [13]:
df[df['R_Weight_lbs'].isnull()]

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
103,Kennedy Nzechukwu,Paul Craig,Keith Peterson,2019-03-30,"Philadelphia, Pennsylvania, USA",Blue,False,Light Heavyweight,3,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,31.0,NaN
5029,Jack Nilson,Saeed Hosseini,Joe Hamilton,1997-05-30,"Augusta, Georgia, USA",Red,False,Lightweight,2,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5132,Frank Hamaker,Thaddeus Luster,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df[df['B_Weight_lbs'].isnull()]

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4978,Laverne Clark,Frank Caracci,Tony Mullinax,1999-01-08,"New Orleans, Louisiana, USA",Red,False,Lightweight,2,0.0,...,0.0,0.0,0.0,0.0,Orthodox,180.34,NaN,170.0,NaN,25.0
4992,Chuck Liddell,Noe Hernandez,Joe Hamilton,1998-05-15,"Mobile, Alabama, USA",Red,False,Middleweight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,187.96,193.04,205.0,NaN,28.0
5020,Alex Hunter,Sam Fulton,Joe Hamilton,1997-07-27,"Birmingham, Alabama, USA",Red,False,Heavyweight,2,0.0,...,0.0,0.0,0.0,0.0,Orthodox,175.26,NaN,226.0,NaN,NaN
5029,Jack Nilson,Saeed Hosseini,Joe Hamilton,1997-05-30,"Augusta, Georgia, USA",Red,False,Lightweight,2,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5116,Ken Shamrock,Felix Lee Mitchell,John McCarthy,1994-09-09,"Charlotte, North Carolina, USA",Red,False,Open Weight,1,0.0,...,1.0,1.0,0.0,2.0,Orthodox,185.42,182.88,205.0,NaN,30.0
5134,Patrick Smith,Ray Wizard,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,187.96,NaN,225.0,NaN,30.0

In [15]:
df[df['weight_class']=='Open Weight']

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4941,Kenichi Yamamoto,Daiju Takase,Mario Yamasaki,1999-11-19,"Chiba, Japan",Red,False,Open Weight,3,1.0,...,0.0,0.0,0.0,0.0,Orthodox,182.88,NaN,170.0,21.0,23.0
4942,Katsuhisa Fujii,Masutatsu Yano,Mario Yamasaki,1999-11-19,"Chiba, Japan",Red,False,Open Weight,3,0.0,...,0.0,0.0,0.0,0.0,Orthodox,182.88,NaN,205.0,24.0,27.0
5039,David Abbott,Steve Nelmark,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,0.0,...,3.0,2.0,0.0,5.0,Switch,182.88,NaN,265.0,NaN,NaN
5040,Don Frye,Mark Hall,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,1.0,...,5.0,1.0,1.0,7.0,Orthodox,185.42,NaN,219.0,NaN,31.0
5041,Ken Shamrock,Brian Johnston,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,1.0,...,1.0,4.0,0.0,5.0,Orthodox,185.42,182.88,205.0,NaN,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,Gerard Gordeau,Kevin Rosier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,1.0,0.0,0.0,1.0,Orthodox,195.58,NaN,216.0,NaN,34.0
5140,Ken Shamrock,Patrick Smith,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,185.42,182.88,205.0,30.0,29.0
5141,Royce Gracie,Art Jimmerson,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Southpaw,185.42,NaN,175.0,30.0,26.0
5142,Kevin Rosier,Zane Frazier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,193.04,NaN,275.0,NaN,NaN
5143,Gerard Gordeau,Teila Tuli,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,195.58,NaN,216.0,24.0,34.0

In [16]:
da = df

In [17]:
x = da.dropna(subset=['B_avg_opp_DISTANCE_att'])

In [33]:
a = x.groupby(['weight_class'])

In [19]:
df[df['weight_class']=='Open Weight']

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4941,Kenichi Yamamoto,Daiju Takase,Mario Yamasaki,1999-11-19,"Chiba, Japan",Red,False,Open Weight,3,1.0,...,0.0,0.0,0.0,0.0,Orthodox,182.88,NaN,170.0,21.0,23.0
4942,Katsuhisa Fujii,Masutatsu Yano,Mario Yamasaki,1999-11-19,"Chiba, Japan",Red,False,Open Weight,3,0.0,...,0.0,0.0,0.0,0.0,Orthodox,182.88,NaN,205.0,24.0,27.0
5039,David Abbott,Steve Nelmark,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,0.0,...,3.0,2.0,0.0,5.0,Switch,182.88,NaN,265.0,NaN,NaN
5040,Don Frye,Mark Hall,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,1.0,...,5.0,1.0,1.0,7.0,Orthodox,185.42,NaN,219.0,NaN,31.0
5041,Ken Shamrock,Brian Johnston,John McCarthy,1996-12-07,"Birmingham, Alabama, USA",Red,False,Open Weight,2,1.0,...,1.0,4.0,0.0,5.0,Orthodox,185.42,182.88,205.0,NaN,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,Gerard Gordeau,Kevin Rosier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,1.0,0.0,0.0,1.0,Orthodox,195.58,NaN,216.0,NaN,34.0
5140,Ken Shamrock,Patrick Smith,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,185.42,182.88,205.0,30.0,29.0
5141,Royce Gracie,Art Jimmerson,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Southpaw,185.42,NaN,175.0,30.0,26.0
5142,Kevin Rosier,Zane Frazier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,193.04,NaN,275.0,NaN,NaN
5143,Gerard Gordeau,Teila Tuli,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,195.58,NaN,216.0,24.0,34.0

In [20]:
da['weight_class'].value_counts()

Lightweight              989
Welterweight             969
Middleweight             725
Heavyweight              507
Light Heavyweight        502
Featherweight            442
Bantamweight             379
Flyweight                187
Women's Strawweight      143
Women's Bantamweight     111
Open Weight               92
Women's Flyweight         50
Catch Weight              38
Women's Featherweight     10
Name: weight_class, dtype: int64

In [21]:
b = a['B_avg_opp_DISTANCE_att']

In [22]:
b.mean()

weight_class
Bantamweight             67.268138
Catch Weight             31.545698
Featherweight            66.729916
Flyweight                65.771527
Heavyweight              34.866894
Light Heavyweight        40.202541
Lightweight              56.365183
Middleweight             39.399976
Open Weight               3.786081
Welterweight             48.853128
Women's Bantamweight     79.148397
Women's Featherweight    53.892857
Women's Flyweight        89.185259
Women's Strawweight      94.694595
Name: B_avg_opp_DISTANCE_att, dtype: float64

In [30]:
az = df.groupby(['weight_class'])

In [31]:
az['B_avg_opp_DISTANCE_att'].mean()

weight_class
Bantamweight             67.268138
Catch Weight             31.545698
Featherweight            66.729916
Flyweight                65.771527
Heavyweight              34.866894
Light Heavyweight        40.202541
Lightweight              56.365183
Middleweight             39.399976
Open Weight               3.786081
Welterweight             48.853128
Women's Bantamweight     79.148397
Women's Featherweight    53.892857
Women's Flyweight        89.185259
Women's Strawweight      94.694595
Name: B_avg_opp_DISTANCE_att, dtype: float64

In [32]:
b.min()

weight_class
Bantamweight              1.0
Catch Weight              0.0
Featherweight             0.5
Flyweight                 3.0
Heavyweight               0.0
Light Heavyweight         0.5
Lightweight               0.0
Middleweight              0.0
Open Weight               0.0
Welterweight              0.0
Women's Bantamweight      1.0
Women's Featherweight    34.0
Women's Flyweight         4.0
Women's Strawweight       2.0
Name: B_avg_opp_DISTANCE_att, dtype: float64

In [24]:
df["B_avg_opp_DISTANCE_att"] = df.groupby("weight_class").B_avg_opp_DISTANCE_att.transform(lambda x: x.fillna(x.mean()))

In [26]:
df[df['B_avg_opp_DISTANCE_att'].isnull()]

Empty DataFrame
Columns: [R_fighter, B_fighter, Referee, date, location, Winner, title_bout, weight_class, no_of_rounds, B_current_lose_streak, B_current_win_streak, B_draw, B_avg_BODY_att, B_avg_BODY_landed, B_avg_CLINCH_att, B_avg_CLINCH_landed, B_avg_DISTANCE_att, B_avg_DISTANCE_landed, B_avg_GROUND_att, B_avg_GROUND_landed, B_avg_HEAD_att, B_avg_HEAD_landed, B_avg_KD, B_avg_LEG_att, B_avg_LEG_landed, B_avg_PASS, B_avg_REV, B_avg_SIG_STR_att, B_avg_SIG_STR_landed, B_avg_SIG_STR_pct, B_avg_SUB_ATT, B_avg_TD_att, B_avg_TD_landed, B_avg_TD_pct, B_avg_TOTAL_STR_att, B_avg_TOTAL_STR_landed, B_longest_win_streak, B_losses, B_avg_opp_BODY_att, B_avg_opp_BODY_landed, B_avg_opp_CLINCH_att, B_avg_opp_CLINCH_landed, B_avg_opp_DISTANCE_att, B_avg_opp_DISTANCE_landed, B_avg_opp_GROUND_att, B_avg_opp_GROUND_landed, B_avg_opp_HEAD_att, B_avg_opp_HEAD_landed, B_avg_opp_KD, B_avg_opp_LEG_att, B_avg_opp_LEG_landed, B_avg_opp_PASS, B_avg_opp_REV, B_avg_opp_SIG_STR_att, B_avg_opp_SIG_STR_landed, B_avg_opp_SIG_STR_pct, B_avg_opp_SUB_ATT, B_avg_opp_TD_att, B_avg_opp_TD_landed, B_avg_opp_TD_pct, B_avg_opp_TOTAL_STR_att, B_avg_opp_TOTAL_STR_landed, B_total_rounds_fought, B_total_time_fought(seconds), B_total_title_bouts, B_win_by_Decision_Majority, B_win_by_Decision_Split, B_win_by_Decision_Unanimous, B_win_by_KO/TKO, B_win_by_Submission, B_win_by_TKO_Doctor_Stoppage, B_wins, B_Stance, B_Height_cms, B_Reach_cms, B_Weight_lbs, R_current_lose_streak, R_current_win_streak, R_draw, R_avg_BODY_att, R_avg_BODY_landed, R_avg_CLINCH_att, R_avg_CLINCH_landed, R_avg_DISTANCE_att, R_avg_DISTANCE_landed, R_avg_GROUND_att, R_avg_GROUND_landed, R_avg_HEAD_att, R_avg_HEAD_landed, R_avg_KD, R_avg_LEG_att, R_avg_LEG_landed, R_avg_PASS, R_avg_REV, R_avg_SIG_STR_att, R_avg_SIG_STR_landed, R_avg_SIG_STR_pct, R_avg_SUB_ATT, R_avg_TD_att, R_avg_TD_landed, ...]
Index: []

[0 rows x 145 columns]

In [25]:
df['B_avg_opp_DISTANCE_att']

0        51.200000
1       101.700000
2        84.548387
3        94.250000
4       205.000000
           ...
5139      7.000000
5140      3.786081
5141      3.786081
5142      3.786081
5143      3.786081
Name: B_avg_opp_DISTANCE_att, Length: 5144, dtype: float64

In [ ]:
df['B_avg_opp_DISTANCE_att']

In [ ]:
b['Open Weight']

In [ ]:
df[df['weight_class'] == 'Catch Weight']

In [28]:
df[df['B_Weight_lbs'].isnull()]

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4978,Laverne Clark,Frank Caracci,Tony Mullinax,1999-01-08,"New Orleans, Louisiana, USA",Red,False,Lightweight,2,0.0,...,0.0,0.0,0.0,0.0,Orthodox,180.34,NaN,170.0,NaN,25.0
4992,Chuck Liddell,Noe Hernandez,Joe Hamilton,1998-05-15,"Mobile, Alabama, USA",Red,False,Middleweight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,187.96,193.04,205.0,NaN,28.0
5020,Alex Hunter,Sam Fulton,Joe Hamilton,1997-07-27,"Birmingham, Alabama, USA",Red,False,Heavyweight,2,0.0,...,0.0,0.0,0.0,0.0,Orthodox,175.26,NaN,226.0,NaN,NaN
5029,Jack Nilson,Saeed Hosseini,Joe Hamilton,1997-05-30,"Augusta, Georgia, USA",Red,False,Lightweight,2,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5116,Ken Shamrock,Felix Lee Mitchell,John McCarthy,1994-09-09,"Charlotte, North Carolina, USA",Red,False,Open Weight,1,0.0,...,1.0,1.0,0.0,2.0,Orthodox,185.42,182.88,205.0,NaN,30.0
5134,Patrick Smith,Ray Wizard,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,187.96,NaN,225.0,NaN,30.0